header {
  width: 100%;
  background-color: #fffbf4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

header .logo {
  width: 100px;
  transition: width 0.1s linear;
}

.header_scrolled {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #FDF5E6;
}

.header_scrolled .logo {
  width: 70px;
}