nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

nav .logo {
  width: 100px;
  transition: width 0.1s linear;
}

.nav_scrolled {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav_scrolled .logo {
  width: 70px;
}