main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 50px;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  margin: 0 auto;
  gap: 15px;
  scroll-margin: 140px;
}

section h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px;
}

section h3 {
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  margin-top: 10px;
}

section p {
  font-size: 15px;
  text-align: left;
}

section ul li {
  font-size: 15px;
  text-align: left;
}

ol,
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 480px) {
  section p {
    font-size: 20px;
  }

  section ul li {
    font-size: 20px;
  }
}