---
import "../styles/index.css";
---

<html lang="es-CL">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Comiendo Verde: Descubre la Dieta Vegana y Vegetariana</title>
		<link rel="stylesheet" href="styles.css" />
	</head>

	<body>
		<main>
			<div class="hero">
				<div class="hero_left">
					<div></div>
					<div class="hero_information">
						<h1 class="hero_title">
							Tu salud,<br />
							<span class="hero_title_highlight"> En tus manos </span>
						</h1>
						<p class="hero_description">
							Descubre los pros y contras de la dieta vegana y vegetariana.
						</p>
					</div>
					<a href="#" class="hero_cta">DESCUBRE MÁS</a>
				</div>
				<div class="hero_right">
					<img
						src="https://images.unsplash.com/photo-1572357176061-7c96fd2af22f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					/>
				</div>
			</div>
		</main>
	</body>
</html>
