---
import "../styles/index.css";
import "../styles/header.css";
import "../styles/section.css";
import "../styles/footer.css";
---

<html lang="es-CL">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Para dispositivos Android -->
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="android-chrome-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="512x512"
			href="android-chrome-512x512.png"
		/>

		<!-- Para dispositivos Apple -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png" />

		<!-- Favicon general -->
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
		<link rel="shortcut icon" href="favicon.ico" />

		<!-- Favicon para Microsoft Edge -->
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="favicon-32x32.png" />

		<title>Descubre la Dieta Vegana y Vegetariana: Comiendo Verde</title>
		<meta
			name="description"
			content="Tu salud en tus manos. Descubre los pros y contras de la dieta vegana y vegetariana, sus beneficios para la salud y cómo planificar una dieta plant-based completa y nutritiva."
		/>
		<meta
			name="keywords"
			content="dieta vegana, dieta vegetariana, beneficios de la dieta vegana, riesgos de la dieta vegana, tipos de dieta vegetariana, dieta plant-based, alimentación saludable, nutrición, recetas veganas, recetas vegetarianas"
		/>
		<meta name="robots" content="index, follow" />

		<meta
			property="og:title"
			content="Descubre la Dieta Vegana y Vegetariana: Comiendo Verde"
		/>
		<meta
			property="og:description"
			content="Tu salud en tus manos. Descubre los pros y contras de la dieta vegana y vegetariana, sus beneficios para la salud y cómo planificar una dieta plant-based completa y nutritiva."
		/>
		<meta
			property="og:image"
			content="nadine-primeau-l5Mjl9qH8VU-unsplash-min.webp"
		/>

		<meta
			name="twitter:title"
			content="Descubre la Dieta Vegana y Vegetariana: Comiendo Verde"
		/>
		<meta
			name="twitter:description"
			content="Tu salud en tus manos. Descubre los pros y contras de la dieta vegana y vegetariana, sus beneficios para la salud y cómo planificar una dieta plant-based completa y nutritiva."
		/>
		<meta
			name="twitter:image"
			content="nadine-primeau-l5Mjl9qH8VU-unsplash-min.webp"
		/>
	</head>

	<body>
		<div class="hero">
			<div class="hero_left">
				<div class="spacer"></div>
				<div class="hero_information">
					<h1 class="hero_title">
						Tu salud,<br />
						<span class="hero_title_highlight"> En tus manos </span>
					</h1>
					<p class="hero_description">
						Descubre los pros y contras de la dieta vegana y vegetariana.
					</p>
				</div>
				<a
					href="#conoce-las-variedades-de-la-dieta-plant-based"
					class="hero_cta">DESCUBRE MÁS</a
				>
			</div>
			<div class="hero_right">
				<img
					src="nadine-primeau-l5Mjl9qH8VU-unsplash-min.webp"
					alt="La imagen muestra un tazón blanco lleno de una ensalada de verduras verdes. Las verduras parecen ser principalmente lechuga romana, espinacas y rúcula. También hay algunas rodajas de tomate y pepino. El tazón está colocado sobre una mesa de madera."
				/>
			</div>
		</div>

		<header>
			<a href="#">
				<img
					src="comiendoverde_logo.webp"
					class="logo"
					alt="Logo de Comiendo Verde"
				/>
			</a>
		</header>

		<main>
			<section id="conoce-las-variedades-de-la-dieta-plant-based">
				<h2>Conoce las Variedades de la Dieta Plant-Based</h2>
				<p>
					Existen varios tipos de dietas vegetarianas, que se diferencian en los
					alimentos que incluyen y excluyen:
				</p>
				<ul>
					<li>
						<strong>Ovolactovegetariana:</strong>
						Esta dieta excluye carne y pescado, pero incluye productos lácteos y
						huevos.
					</li>
					<li>
						<strong>Lactovegetariana:</strong>
						Similar a la ovolactovegetariana, pero excluye los huevos y solo incluye
						productos lácteos.
					</li>
					<li>
						<strong>Ovovegetariana:</strong>
						Excluye carne, pescado y lácteos, pero incluye huevos.
					</li>
					<li>
						<strong>Vegetariana estricta o vegana:</strong>
						Excluye cualquier producto de origen animal, incluyendo carne, pescado,
						lácteos, huevos y miel. Además de estas, existen variantes menos comunes
						como la dieta crudivegana (que incluye principalmente alimentos crudos)
						y la dieta frugívora (que se basa principalmente en frutas frescas).
						Cada tipo de dieta vegetariana tiene sus propias consideraciones nutricionales,
						por lo que es importante planificarlas cuidadosamente para asegurar una
						ingesta adecuada de todos los nutrientes necesarios.
					</li>
				</ul>
			</section>

			<hr />

			<section
				id="dilemas-del-vegetarianismo-riesgos-y-beneficios-a-considerar"
			>
				<h2>Dilemas del Vegetarianismo: Riesgos y Beneficios a Considerar</h2>
				<p>
					Tener una dieta vegana o vegetariana puede tener tanto riesgos como
					beneficios:
				</p>
				<h3>Beneficios:</h3>
				<ul>
					<li>
						<strong>Menor riesgo de enfermedades crónicas:</strong>
						Las dietas veganas y vegetarianas suelen ser más altas en fibra, antioxidantes
						y otros nutrientes beneficiosos, lo que puede reducir el riesgo de enfermedades
						crónicas como enfermedades cardíacas, diabetes tipo 2 y ciertos tipos
						de cáncer.
					</li>
					<li>
						<strong>Menor ingesta de grasas saturadas y colesterol:</strong><br
						/>
						Al excluir alimentos de origen animal, las dietas veganas y vegetarianas
						tienden a ser más bajas en grasas saturadas y colesterol, lo que puede
						contribuir a la salud cardiovascular.
					</li>
					<li>
						<strong>Promoción de la pérdida de peso:</strong>
						Las dietas basadas en plantas tienden a ser más bajas en calorías y grasas,
						lo que puede ayudar a mantener un peso saludable o promover la pérdida
						de peso.
					</li>
				</ul>
				<h3>Riesgos:</h3>
				<ul>
					<li>
						<strong>Deficiencias nutricionales:</strong>
						Las dietas veganas y vegetarianas pueden ser deficientes en ciertos nutrientes
						clave, como proteínas, hierro, calcio, vitamina B12, omega-3 y zinc,
						si no se planifican adecuadamente.
					</li>
					<li>
						<strong
							>Posible aumento de riesgo de deficiencia de vitamina B12:</strong
						>
						La vitamina B12 se encuentra principalmente en alimentos de origen animal,
						por lo que los veganos corren un mayor riesgo de deficiencia si no consumen
						alimentos enriquecidos o suplementos.
					</li>
					<li>
						<strong
							>Posible dificultad para obtener suficiente proteína completa:</strong
						>
						Las fuentes de proteínas completas (que contienen todos los aminoácidos
						esenciales) son principalmente de origen animal, por lo que los veganos
						y vegetarianos deben prestar atención para asegurar una ingesta adecuada
						de proteínas variando sus fuentes vegetales. En resumen, una dieta vegana
						o vegetariana puede ser saludable y beneficiosa si se planifica cuidadosamente
						para asegurar una ingesta adecuada de todos los nutrientes necesarios.
						Sin embargo, es importante estar al tanto de los posibles riesgos y tomar
						medidas para mitigarlos a través de una selección de alimentos consciente
						y, si es necesario, la suplementación adecuada.
					</li>
				</ul>
				<p>
					En resumen, una dieta vegana o vegetariana puede ser saludable y
					beneficiosa si se planifica cuidadosamente para asegurar una ingesta
					adecuada de todos los nutrientes necesarios. Sin embargo, es
					importante estar al tanto de los posibles riesgos y tomar medidas para
					mitigarlos a través de una selección de alimentos consciente y, si es
					necesario, la suplementación adecuada.
				</p>
			</section>

			<hr />

			<section
				id="como-pueden-los-vegetarianos-estrictos-tener-una-alimentacion-equilibrada"
			>
				<h2>
					¿Cómo pueden los vegetarianos estrictos tener una alimentación
					equilibrada?
				</h2>
				<p>
					A usted tal vez le preocupe no poder obtener todos los nutrientes que
					necesita con una dieta vegana. Pero siempre y cuando coma una variedad
					de alimentos, solo hay unas pocas cosas a las que tiene que prestar
					especial atención.
				</p>
				<ul>
					<li>
						<strong>Calcio:</strong> Para las personas que no consumen productos
						lácteos. Si no obtiene el calcio de productos lácteos, es necesario que
						coma una gran cantidad de otros alimentos ricos en calcio. Los cereales
						para el desayuno, la leche de soya y el jugo de naranja enriquecidos
						con calcio son buenas opciones. Enriquecido con calcio significa que
						el fabricante ha agregado calcio al alimento. Otros alimentos que contienen
						calcio incluyen determinadas legumbres, ciertas verduras de hojas verdes,
						nueces, semillas y tofu. Si usted no consume alimentos enriquecidos con
						calcio, pregúntele a su médico si debe tomar un suplemento diario de
						calcio.
					</li>
					<li>
						<strong>Vitamina D:</strong> Para las personas que no consumen productos
						lácteos. Consumir suficiente calcio y vitamina D es importante para mantener
						los huesos fuertes. Las personas que no consumen productos lácteos pueden
						utilizar leche de soya y cereales para el desayuno enriquecidos.
					</li>
					<li>
						<strong>Hierro:</strong> Obtener suficiente hierro no es un problema
						para los vegetarianos estrictos que se esfuerzan por comer una amplia
						variedad de alimentos. Nuestro cuerpo no absorbe el hierro de los alimentos
						de origen vegetal igual de bien que el de las carnes. Así que es importante
						que los vegetarianos estrictos coman regularmente alimentos ricos en
						hierro. Las fuentes de hierro veganas incluyen frijoles cocidos, arvejas
						y lentejas, verduras de hoja verde y productos hechos de granos enriquecidos
						con hierro. Y comer alimentos ricos en vitamina C ayuda al cuerpo a absorber
						el hierro.
					</li>
					<li>
						<strong>Vitamina B12:</strong> La vitamina B12 procede solo de fuentes
						animales. Si usted es vegetariano estricto, tendrá que depender de alimentos
						enriquecidos con esta vitamina (por ejemplo, leche de soya y cereales
						para el desayuno) o tomar suplementos. Esto es especialmente importante
						para las mujeres veganas que están embarazadas o amamantando.
					</li>
				</ul>
				<p>
					También puede obtener las vitaminas y los minerales enumerados
					anteriormente como suplementos. Al igual que las demás personas, los
					vegetarianos estrictos también tienen que asegurarse de que obtienen
					los siguientes nutrientes:
				</p>
				<ul>
					<li>
						<strong>Proteínas:</strong> Al considerar una dieta vegana, a muchas
						personas les preocupa no ingerir suficientes proteínas. Pero comer una
						amplia variedad de alimentos ricos en proteínas como productos de soya,
						legumbres, granos, frutos secos y semillas le proporcionará las proteínas
						que usted necesita.
					</li>
					<li>
						<strong>Ácidos grasos omega-3:</strong> Sin pescado ni huevos en su dieta,
						es necesario que encuentre otras buenas fuentes de ácidos grasos omega-3,
						como semillas de cáñamo, semillas de lino, semillas de calabaza, nueces
						de nogal ("walnuts"), ciertas verduras de hoja verde, aceite de soya,
						aceite de canola y verduras marinas (como arame, dulse, nori, algas,
						kombu o wakame).
					</li>
					<li>
						<strong>Zinc:</strong> Su cuerpo absorbe mejor el zinc cuando proviene
						de la carne que cuando proviene de plantas. Sin embargo, los vegetarianos
						estrictos no suelen tener problemas para obtener suficiente zinc si comen
						una gran variedad de otros alimentos que son buenas fuentes de zinc,
						incluyendo panes integrales, frijoles cocidos y lentejas, alimentos de
						soya y verduras.
					</li>
				</ul>
			</section>
		</main>
		<footer>
			<div class="footer_row">
				<div class="footer_col">
					<h4>Explorar</h4>
					<a href="#conoce-las-variedades-de-la-dieta-plant-based">
						Conoce las Variedades de la Dieta Plant-Based
					</a>
					<a
						href="#dilemas-del-vegetarianismo-riesgos-y-beneficios-a-considerar"
					>
						Dilemas del Vegetarianismo: Riesgos y Beneficios a Considerar
					</a>
					<a
						href="#como-pueden-los-vegetarianos-estrictos-tener-una-alimentacion-equilibrada"
					>
						¿Cómo pueden los vegetarianos estrictos tener una alimentación
						equilibrada?
					</a>
					<a href="#">Volver al inicio</a>
				</div>
			</div>
			<div class="links">
				<p>
					Copyright &copy; {new Date().getFullYear()} | <a
						href="https://opensource.org/license/mit"
						target="_blank">MIT License</a
					>
				</p>
				<a href="https://github.com/zomvr2/comiendoverde" target="_blank">
					<img src="github-repo-git-octocat-svgrepo-com.svg" />
				</a>
			</div>
		</footer>
	</body>
</html>

<script>
	const nav = document.querySelector("header");
	const buffer = 15; // Adjust this value as needed

	window.addEventListener("scroll", () => {
		if (window.scrollY >= window.innerHeight + buffer) {
			nav.classList.add("header_scrolled");
		} else if (window.scrollY <= window.innerHeight - buffer) {
			nav.classList.remove("header_scrolled");
		}
	});

	const sections = document.querySelectorAll("section");

	const observer = new IntersectionObserver(
		(entries, observer) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					history.pushState(null, null, `#${entry.target.id}`);
				}
			});
		},
		{ threshold: 0.7 },
	);

	sections.forEach((section) => {
		observer.observe(section);
	});
</script>
